@use "../../designSystem/library" as *;

.footer {
  font-family: $font-tertiary;
  background-color: black;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  padding: 3rem;
  color: $primary-200;

  @media screen and (min-width: 300px) and (max-width: 400px) {
    padding: 1rem;
  }
  @media screen and (min-width: 400px) and (max-width: 600px) {
    padding: 2rem;
  }

  .main-content {
    display: flex;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      flex-direction: column;

      .links-container {
        order: 3;
        margin-top: 3rem;
      }

      .label-input-container {
        order: 2;
        margin-top: 2rem;
      }
    }

    .logo-address-social-icons-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      .logo-container {
        .logo-text {
          font-family: $font-primary;
          font-size: 30px;
          color: white;
        }
      }

      .address-container {
        margin-top: 1rem;
        font-size: 14px;
        color: rgb(147, 146, 146);
        line-height: 22px;
      }
    }

    .links-container {
      flex: 2;
      display: flex;
      justify-content: space-between;
      padding: 0rem 6rem;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        padding: 0;
        flex-direction: column;
        gap: 1.5rem;
      }

      .aboutus-container,
      .recources-conatiner,
      .consulting-conatiner,
      .category-conatiner,
      .other-conatiner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 14px;

        .heading {
          color: white;
          font-size: 16px;
        }
      }
    }

    .label-input-container {
      flex: 1.5;

      .heading {
        font-size: 14px;
      }

      .email-input {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;

        input {
          border: 1px solid rgb(121, 121, 121);
          color: white;
          padding: 10px;
          width: 90%;
          font-size: 12px;
          border-radius: 8px;
          background: none;

          &:focus {
            outline: none;
          }
        }

        .button {
          background-color: $primary-300;
          width: 40px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }
  }

  .sm-copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      margin-top: 2rem;
    }

    .social-media-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: RGB(31 31 31);
      border: 1px solid rgba(48, 48, 48, 1);
      border-radius: 7px;
      padding: 0.5rem 1rem;
      width: fit-content;
      cursor: pointer;
    }

    .trademark-text {
      font-size: 12px;
    }
  }
}
