@use "./library" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-100;
}

html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

::-moz-selection {
  color: $primary-100;
  background: white;
}

::selection {
  color: $primary-100;
  background: white;
}
