@use "./library" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-100;
  padding: 1rem 1rem 0rem 1rem;
  background-color: white;
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

::-moz-selection {
  color: white;
  background: rgb(0, 0, 0);
}

::selection {
  color: white;
  background: rgb(0, 0, 0);
}
