@use "../../../designSystem/library" as *;

.our-story-container {
  display: flex;
  margin-top: 6rem;
  font-family: $font-tertiary;
  padding: 0rem 1rem;

  .our-story-content-container {
    flex: 0.6;
    .our-story-tag {
      border: 1px solid $primary-300;
      width: fit-content;
      font-size: 12px;
      padding: 0.2rem 0.8rem;
      border-radius: 20px;
      background-color: $primary-300;
      color: white;
    }
    .our-story-title {
      margin-top: 1rem;
      font-size: 60px;
      line-height: 70px;
      font-weight: 300;
    }

    .our-story-desc {
      color: $gray-700;
      margin-top: 2rem;
      width: 400px;
      line-height: 22px;
    }
  }

  .our-story-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    .our-story-element-text {
      display: flex;
      align-items: end;
      gap: 1rem;
      padding-left: 5rem;

      .big-number {
        font-size: 40px;
        color: $primary-300;
      }

      .text {
        // margin-top: -0.5rem;
      }
    }

    .separator {
      background-color: black;
      height: 1px;
      width: 100%;
      margin-top: 1rem;
    }
  }
}
