@use "../../../designSystem/library" as *;

.about-us-title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: $font-secondary;
  margin-top: 4rem;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 300px) and (max-width: 600px) {
    margin-top: 1rem;
  }

  .small-text {
    position: relative;
    z-index: 2;
    color: $gray-700;
    font-size: 20px;
  }

  .big-title {
    position: relative;
    z-index: 2;
    margin-top: 2rem;
    font-size: 64px;
    margin-top: 0.2rem;
    letter-spacing: 2px;
    line-height: 74px;

    @media screen and (min-width: 300px) and (max-width: 400px) {
      font-size: 44px;
      line-height: 54px;
    }

    @media screen and (min-width: 400px) and (max-width: 600px) {
      font-size: 54px;
      line-height: 64px;
    }
  }

  .illustration-container {
    position: absolute;
    right: 0%;
    z-index: 1;
    height: 300px;
  }
}

.video-description-container {
  margin-top: 10rem;
  font-family: $font-tertiary;

  @media screen and (min-width: 300px) and (max-width: 600px) {
    margin-top: 3rem;
  }

  .description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }

    .two-vertical-paras {
      // color: $orange-100;
    }

    .explore-btn {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      cursor: pointer;
    }
  }

  .video-container {
    margin-top: 2rem;
    height: 500px;
    border-radius: 25px;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }
}
