@use "../../../designSystem/library" as *;

.main-section {
  background-color: $primary-100;
  border-radius: 20px;
  border-top-left-radius: 0;

  @media screen and (min-width: 300px) and (max-width: 600px) {
    border-radius: 0;
  }

  .about-us-title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: $font-secondary;
    position: relative;
    z-index: 2;
    padding: 4rem 2rem 0rem 2rem;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      padding-top: 2rem;
    }

    .small-text {
      position: relative;
      z-index: 2;
      color: $gray-700;
      font-size: 20px;
    }

    .big-title {
      position: relative;
      z-index: 2;
      margin-top: 2rem;
      font-size: 64px;
      margin-top: 0.2rem;
      letter-spacing: 2px;
      line-height: 74px;

      @media screen and (min-width: 300px) and (max-width: 400px) {
        font-size: 44px;
        line-height: 54px;
      }

      @media screen and (min-width: 400px) and (max-width: 600px) {
        font-size: 54px;
        line-height: 64px;
      }
    }

    .illustration-container {
      position: absolute;
      right: 0%;
      z-index: 1;
      height: 300px;
    }
  }

  .video-description-container {
    font-family: $font-tertiary;
    margin-top: 8rem;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      margin-top: 1rem;
    }

    .description-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }

      .two-vertical-paras {
        // color: $orange-100;
      }

      .explore-btn {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        cursor: pointer;
      }
    }

    .video-container {
      padding: 0rem 2rem 2rem 2rem;
      video {
        height: 500px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        // margin-top: 2rem;
      }
    }
  }
}
